@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a website for a gaming guild. You will be able to have events for the guild in the calendar, as well as a picture gallery and many more features !</p>
