@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    100 Rue Duquet<br />
    Sainte-Thérèse, QC, J7E 3G6<br />
    <abbr title="Phone">P:</abbr>
    450-430-3120
</address>

<address>
    <strong> Soupport et aide : </strong>   <a href="antoinelatendresse@gmail.com">antoinelatendresse@gmail.com</a><br />
</address>