
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function ButtonAnimation_down(i) {
        document.getElementById(i).style.backgroundColor = "black";
    }
</script>
<style>
    a {
        color: white;
    }

        a:hover {
            color: lightgray;
            text-decoration: none;
        }
</style>
<h2>Index</h2>

<table>
    <tr>
        <td id="Button_0"
            style="border: 1px solid black; padding: 5px; background-color: black"
            onmouseout="ButtonAnimation_down('Button_0')">
            @Html.ActionLink("Login", "Login", "Users")
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td id="Button_1"
            style="border: 1px solid black; padding: 5px; background-color: black"
            onmouseout="ButtonAnimation_down('Button_1')">
            @Html.ActionLink("Inscription", "Inscription", "Users")
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td id="Button_2"
            style="border: 1px solid black; padding: 5px; background-color: black; "
            onmouseout="ButtonAnimation_down('Button_2')">
            @Html.ActionLink("Lister", "Lister", "Users")
        </td>
    </tr>
</table>