
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function ButtonAnimation_down(i) {
        document.getElementById(i).style.backgroundColor = "black";
    }
</script>
<style>
    a {
        color: white;
    }

        a:hover {
            color: lightgray;
            text-decoration: none;
        }
</style>
<h2>Nouvelles</h2>


<p>
Ici vous verez afficher les différentes nouvelles de la guilde, bref les événement qui vont suivre et les nouvelles du jours !
</p>
